//Colors
$bg1: #505050;
$bg2: #0b2044;
$text1: #c0adad;
$text2: #505050;
$text3: #f8f8f8;
$text4: #48cae4;
//Fonts
$font1: "Tulpen One";
$font2: "franklin gothic Medium";
//border prueba
$border: 2px solid yellow;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "franklin gothic Medium", $font1, cursive;
}

//Navbar
.my-navbar {
    background-color: $bg1;
    padding: 5px;
    display: flex;
    justify-content: space-between;

    .my-name {
        color: $text3;
        margin: auto 70px;
        align-items: center;
        line-height: content;
        h2 {
            font-size: 35px;
            align-items: center;
            font-family: $font1, cursive;
        }
    }

    .my-media-social {
        margin: 0px 70px;
        a i {
            color: $text3;
            font-size: 20px;
            margin: 5px;
            width: 40px;
            height: 40px;
            text-align: center;
            padding: 10px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

//social medias
.fa-facebook-f{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.fa-instagram{
    transition: 0.5;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
}
.fa-linkedin-in{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.fa-github{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.fa-whatsapp{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.fa-facebook-f:hover {
    background-color: #3b5998;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.fa-instagram:hover{
    background: linear-gradient(#515bd4, #8134af, #dd2a7b, #f58529);
    transition: 6.5;
    -webkit-transition: 6.5;
    -moz-transition: 6.5;
    -ms-transition: 6.5;
    -o-transition: 6.5;
}
.fa-linkedin-in:hover {
    background-color: #0e76a8;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.fa-github:hover {
    background-color: #171515;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.fa-whatsapp:hover {
    background-color: #00bb2d;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

//Banner
.video {
    display: block;
    width: 100%;
    position: absolute;
    z-index: -10;
}
.banner {
    height: 92vh;
    background-color: $bg2;
    opacity: 0.9;
    .menu {
        padding: 15vh;
        small {
            color: $text4;
            font-size: 1.2rem;
        }
        h1 {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: 5rem;
            color: $text3;
        }
        h2 {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: 3rem;
            color: $text1;
        }
        h6 {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: 1.25rem;
            color: $text1;
            width: 50%;
        }
        a {
            border: $text4 1px solid;
            color: $text4;
        }
        a:hover {
            background-color: #48cae43a;
        }
    }
}

//Skills

.skill {
    background-color: $bg1;

    h2 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 3rem;
    }
    .container {
        .row {
            height: 100px;
            padding: 80px 180px;
            align-content: center;
            text-align: center;

            i {
                font-size: 4rem;
                padding: 20px;
                width: 120px;
                transition: all 1s ease-out;
                -webkit-transition: all 1s ease-out;
                -moz-transition: all 1s ease-out;
                -ms-transition: all 1s ease-out;
                -o-transition: all 1s ease-out;
            }
            i:hover {
                transform: scale(1.5);
                transition: all 2s ease-out;
                -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                -ms-transform: scale(1.5);
                -o-transform: scale(1.5);
                -webkit-transition: all 2s ease-out;
                -moz-transition: all 2s ease-out;
                -ms-transition: all 2s ease-out;
                -o-transition: all 2s ease-out;
            }
        }
    }
}

//About
.about {
    background-color: $bg2;
    color: $text2;

    .i {
        padding: 50px 100px;
        h2 {
            font-size: 2.5rem;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
        img {
            height: 15rem;
            width: 15rem;
            object-fit: cover;
        }
        p {
            font-size: 1rem;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
    }
    .my-photo {
        filter: grayscale(90%);
        -webkit-filter: grayscale(90%);
    }
}
//Projects
.div-project {
    background-color: $bg2;
    .projects {
        background-color: $bg1;
        border: 1px solid black;
        // clip-path: polygon(0 0%, 0 100%, 100% 85%, 100% 0);
        padding: 50px 100px 100px;

        h2 {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: 4rem;
            padding: 10px;
        }
        p {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-size: 1rem;
        }
        .card {
            background-color: $bg2;
        }
    }
}

/*Footer*/
.my-footer {
    background-color: $bg1;
    color: $text1;
    padding: 10px 25px;
    display: flex;
    justify-content: space-around;

    p {
        font-family: "Times New Roman", Times, serif;
        font-size: 15px;
    }
}

.my-about {
    width: 33%;
    text-align: center;
}
.my-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-right: 10px;
}
.my-div-about {
    display: flex;
}
.my-contact {
    width: 33%;
    padding: 10px 60px;
    text-align: center;
}

.my-footer-media-social {
    width: 33%;
    padding: 10px;
    text-align: center;

    a i {
        color: #ffffff;
        font-size: 25px;
        margin: 5px;
        width: 46px;
        text-align: center;
        padding: 10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

.my-icons {
    padding-top: 15px;
}
