//Colors
$bg1: #2c2828;
$bg2: #0a192f;
$bg3: #02173b;
$text1: #0b2044;
$text2: #2c2828;
$text3: #f8f8f8;
$text4: #48cae4;
//Fonts
$font2: "Merriweather", serif, "franklin gothic Medium";

//border prueba
$border: 2px solid yellow;

@mixin transition {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: $font2, cursive;
}

//Navbar
.my-navbar {
    background-color: $bg2;
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    box-shadow: $text3 7px 7px 7px;

    .my-name {
        color: $text3;
        margin: auto 5.6rem;
        align-items: center;
        line-height: content;
        h2 {
            font-size: 1.2rem;
            align-items: center;
            font-weight: 400;
            font-style: italic;
        }
    }

    .my-media-social {
        margin: 0px 70px;
        a i {
            color: $text3;
            font-size: 20px;
            margin: 5px;
            width: 40px;
            height: 40px;
            text-align: center;
            padding: 10px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

//social medias
.fa-facebook-f {
    @include transition();
}
.fa-instagram {
    @include transition();
}
.fa-linkedin-in {
    @include transition();
}
.fa-github {
    @include transition();
}
.fa-whatsapp {
    @include transition();
}

.fa-facebook-f:hover {
    @include transition();
    background-color: #3b5998;
}
.fa-instagram:hover {
    @include transition();
    background-color: #dd2a7b;
}
.fa-linkedin-in:hover {
    @include transition();
    background-color: #0e76a8;
}
.fa-github:hover {
    @include transition();
    background-color: #171515;
}
.fa-whatsapp:hover {
    @include transition();
    background-color: #00bb2d;
}

//Banner
.video {
    display: block;
    width: 100%;
    position: absolute;
    z-index: -10;
}
.banner {
    height: 92vh;
    background-color: $bg2;
    opacity: 0.9;
    .menu {
        padding: 15vh;
        small {
            color: $text4;
            font-size: 1.2rem;
            font-weight: 400;
            font-style: italic;
        }
        h1 {
            font-size: 5rem;
            color: #ffffff;
            font-weight: 900;
        }
        h2 {
            font-size: 3rem;
            color: $text3;
            font-weight: 900;
            font-style: italic;
        }
        h6 {
            font-size: 1.25rem;
            color: $text4;
            width: 48%;
            font-style: italic;
        }
        a {
            border: $text4 1px solid;
            color: $text4;
        }
        a:hover {
            background-color: #48cae43a;
        }
    }
}

//About
.about {
    background-color: $bg1;
    color: $text3;
}
.i {
    h2 {
        font-size: 3rem;
        border-bottom: 1px solid $text4;
        font-style: italic;
        @include transition();
    }
    h2:hover {
        padding: 0rem 3rem;
        @include transition();
    }
    img {
        height: 22rem;
        width: 20rem;
        object-fit: cover;
        background-color: $text4;
    }
    p {
        font-size: 1rem;
        font-style: italic;
    }
}
.my-photo {
    border-radius: 5%;
    filter: grayscale(90%);
    -webkit-filter: grayscale(90%);
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    @include transition();
}
.my-photo:hover {
    filter: none;
    -webkit-filter: none;
    @include transition();
}

//Skills

.skill {
    background-color: $bg1;

    h2 {
        font-size: 3rem;
        border-bottom: 1px solid $text4;
        @include transition();
        color: $text3;
        font-style: italic;
    }
    h2:hover {
        padding: 0rem 3rem;
        @include transition();
    }
    .container {
        .row {
            display: flex;
            padding: 0.3rem;
            align-content: center;
            text-align: center;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: max-content;
                padding: 0rem 0.3rem;

                .div-i {
                    height: 8.5rem;
                    width: 8.5rem;
                    background-color: #221f1f;

                    i {
                        font-size: 4rem;
                        transition: all 1s ease-out;
                        -webkit-transition: all 1s ease-out;
                        -moz-transition: all 1s ease-out;
                        -ms-transition: all 1s ease-out;
                        -o-transition: all 1s ease-out;
                        color: $text4;
                        padding: 1.5rem;
                    }
                    i:hover {
                        transform: scale(1.3);
                        transition: all 1s ease-out;
                        -webkit-transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        -o-transform: scale(1.3);
                        -webkit-transition: all 1s ease-out;
                        -moz-transition: all 1s ease-out;
                        -ms-transition: all 1s ease-out;
                        -o-transition: all 1s ease-out;
                    }
                }
                .div-i:hover {
                    box-shadow: 2px 3px 10px $text4;
                }
            }
        }
    }
    .skill-name {
        h2 {
            position: absolute;
        }
    }
}

//Projects

.projects {
    background-color: $bg2;
    color: $text3;
    h2 {
        font-size: 3rem;
        border-bottom: 1px solid $text4;
        @include transition();
        color: $text3;
        font-style: italic;
    }
    h2:hover {
        padding: 0rem 3rem;
        @include transition();
    }
}
article {
    display: flex;
    padding: 1rem;
    justify-items: center;
    align-items: center;

    .text-proyect {
        width: 50%;
        padding: 1rem;
        margin: 0rem 6rem;
        color: $text3;

        h3 {
            font-size: 1.2rem;
            color: $text3;
            @include transition();
        }
        h3:hover {
            color: $text4;
            @include transition();
        }
        p {
            font-style: italic;
            font-size: 0.9rem;
        }
    }
    a {
        border: 2px solid $text2;
        @include transition();

        img {
            height: 25rem;
            width: 42rem;
            filter: grayscale(90%);
            -webkit-filter: grayscale(90%);
            @include transition();
        }
        img:hover {
            filter: none;
            -webkit-filter: none;
            @include transition();
        }
    }
    a:hover {
        box-shadow: $text3 1px 5px 10px;
        @include transition();
    }
}

/*Footer*/
footer {
    background-color: $bg2;
    text-align: center;
    padding: 2rem;
    padding-top: 7rem;
    a {
        color: $text3;
        font-style: italic;
        text-decoration: none;
        font-size: 0.75rem;
        @include transition();
    }
    a:hover {
        color: $text4;
        @include transition();
    }
}

//Media Query

@media (max-width: 600px) {

}