* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "franklin gothic Medium", "Tulpen One", cursive;
}

.my-navbar {
  background-color: #505050;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-navbar .my-name {
  color: #f8f8f8;
  margin: auto 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: content;
}

.my-navbar .my-name h2 {
  font-size: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Tulpen One", cursive;
}

.my-navbar .my-media-social {
  margin: 0px 70px;
}

.my-navbar .my-media-social a i {
  color: #f8f8f8;
  font-size: 20px;
  margin: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.fa-facebook-f {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-instagram {
  transition: 0.5;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
}

.fa-linkedin-in {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-github {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-whatsapp {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-facebook-f:hover {
  background-color: #3b5998;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-instagram:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#515bd4), color-stop(#8134af), color-stop(#dd2a7b), to(#f58529));
  background: linear-gradient(#515bd4, #8134af, #dd2a7b, #f58529);
  transition: 6.5;
  -webkit-transition: 6.5;
  -moz-transition: 6.5;
  -ms-transition: 6.5;
  -o-transition: 6.5;
}

.fa-linkedin-in:hover {
  background-color: #0e76a8;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-github:hover {
  background-color: #171515;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.fa-whatsapp:hover {
  background-color: #00bb2d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.video {
  display: block;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.banner {
  height: 92vh;
  background-color: #0b2044;
  opacity: 0.9;
}

.banner .menu {
  padding: 15vh;
}

.banner .menu small {
  color: #48cae4;
  font-size: 1.2rem;
}

.banner .menu h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5rem;
  color: #f8f8f8;
}

.banner .menu h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  color: #c0adad;
}

.banner .menu h6 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.25rem;
  color: #c0adad;
  width: 50%;
}

.banner .menu a {
  border: #48cae4 1px solid;
  color: #48cae4;
}

.banner .menu a:hover {
  background-color: #48cae43a;
}

.skill {
  background-color: #505050;
}

.skill h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
}

.skill .container .row {
  height: 100px;
  padding: 80px 180px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.skill .container .row i {
  font-size: 4rem;
  padding: 20px;
  width: 120px;
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}

.skill .container .row i:hover {
  transform: scale(1.5);
  transition: all 2s ease-out;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -ms-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
}

.about {
  background-color: #0b2044;
  color: #505050;
}

.about .i {
  padding: 50px 100px;
}

.about .i h2 {
  font-size: 2.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about .i img {
  height: 15rem;
  width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.about .i p {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about .my-photo {
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
}

.div-project {
  background-color: #0b2044;
}

.div-project .projects {
  background-color: #505050;
  border: 1px solid black;
  padding: 50px 100px 100px;
}

.div-project .projects h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 4rem;
  padding: 10px;
}

.div-project .projects p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
}

.div-project .projects .card {
  background-color: #0b2044;
}

/*Footer*/
.my-footer {
  background-color: #505050;
  color: #c0adad;
  padding: 10px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my-footer p {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

.my-about {
  width: 33%;
  text-align: center;
}

.my-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding-right: 10px;
}

.my-div-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-contact {
  width: 33%;
  padding: 10px 60px;
  text-align: center;
}

.my-footer-media-social {
  width: 33%;
  padding: 10px;
  text-align: center;
}

.my-footer-media-social a i {
  color: #ffffff;
  font-size: 25px;
  margin: 5px;
  width: 46px;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.my-icons {
  padding-top: 15px;
}
/*# sourceMappingURL=style.css.map */